.App {
  text-align: center;
}

@font-face {
  font-family: 'African';
  src: local('African'), url(/public/fonts/african.ttf) format('truetype');
}
@font-face {
  font-family: 'Fiesta';
  src: local('Fiesta'), url(/public/fonts/Fiesta.ttf) format('truetype');
}


.titleApp {
  font-family: 'African';
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff, 0 5px 0 #ffffff, 0 6px 0 #ffffff, 0 7px 0 #ffffff, 0 8px 0 #ffffff, 0 9px 0 #ffffff, 0 10px 0 #ffffff, 0 11px 0 #ffffff, 0 12px 0 #ffffff, 0 13px 0 #ffffff, 0 14px 0 #ffffff, 0 15px 0 #ffffff, 0 22px 30px rgba(255, 255, 255, 255);
  color: #eb0b0b;
  font-size: 90px;
 
  }

