.App {
  text-align: center;
}


@font-face {
  font-family: 'Dinopia';
  src: local('Dinopia'), url(/public/fonts/DinopiaRegular-mLrO9.otf) format('truetype');
}

.titleApp {
  font-family: 'Dinopia';
  letter-spacing: .1em;
  color: #eb0b0b;
  font-size: 75px;
 
  }

